p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}

.description {
  font-size: 12px;
  text-align: center;
  margin-bottom: 12px;
}

.learn-more {
  font-size: 12px;
  text-align: center;
  color: rgb(122, 122, 236);
}