p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.nickname {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.tag-nickname {
  color: grey;
  font-weight: normal;
}

.p1 {
  font-size: 16px;
  width: 500px;
  margin-bottom: 16px;
}

.p2 {
  font-size: 16px;
  width: 500px;
}

.link {
  text-decoration: none;
  color: rgb(49, 190, 255);
}